<div class="container">
    <h2 class="text-uppercase text-spaced text-center">What has Lead Me To Where I am Today</h2>
    <div class="row">
        <h3 class="text-uppercase text-spaced">Web & Graphic Designer</h3>
        <h3 class="text-uppercase bold">Prominence</h3>
        <p>Creating web based recruitment campaigns, design work, creation and file management of client brand collateral, quality control in design process, packaging print files, running inhouse training for Adobe products, developing a white label web product for data collection and display.</p>
    </div>
</div>