<div class="container">
    <h2 class="text-uppercase text-spaced text-center">Who am I Beyond The LinkedIn Profile</h2>
    <div class="row">
        <div class="col-md-6">
            <img class="profile-img" src="/images/profile.jpg">
        </div>
        <div class="col-md-6">
            <p class="body-text">I’m a recent graduate of Massey University recently working as a contractor for Prominence, a marketing agency, building web solutions and assisting with graphic design work. My passion for web technologies – including AngularJS, Laravel, D3 and NodeJS – combined with my design background, gives me a unique perspective and understanding of both visual and technical requirements. On the weekends I can be found enjoying the outdoors; I’m a keen mountain biker and snowboarder. These hobbies help me to and inspiration away from the bustle of work.</p>
        </div>
    </div>
</div>