
// Brand Colours
$brand-primary:   #233342;
$brand-secondary: #485865;
$brand-info:      #8EB4CB;
$brand-light:     #C2D2D9;
$brand-white:     #FFFFFF;

$brand-success:   #2AB27B;
$brand-warning:   #CBB956;
$brand-danger:    #BF5329;

// Base Theming
$body-bg: $brand-primary;
$border-radius: 0;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $brand-white;

// Buttons
$btn-border-radius: $border-radius;
$btn-default-color: $text-color;

// Inputs
$input-border-radius: $border-radius;
$input-border: $brand-white;
$input-border-focus: $brand-info;
$input-color-placeholder: $brand-secondary;

// Alerts
$alert-border-radius: $border-radius;
